page-tips {
	@extend %placeholder-text;
	.back-button{
	    @extend %back-button;
	}
	
	.contenido{@extend %scroll-content;}
	.toolbar-background-md{
		background: none;
	}

	.title{
		@extend %title-icon;
	}
	.btn{
		@include hover-btn($blue-light, $blue);
		box-shadow: initial;
		padding: 35px 5px;
		font-size: 15px;
		&:hover{@include hover-btn($white, $blue);}


	}
}
