
page-perfil {
	
	@extend %placeholder-text;

	.contenido{
		h1,h2,h3{ 
			color: #0269a8;
		}
		.scroll-content{
			padding: 16px 0 !important ;
		}

		h2{
			font-size:25px ;
			padding: 15px 0;
		}
	}


	.header{
		
		.toolbar-title, .toolbar-title-md{
			background: url(../assets/imgs/profil_icon.png) center left no-repeat;	
			background-size: 15%;		
		}

		h1{
			@extend %h1-icon;
		}
		.toolbar-background-md{
			background: none;
		}
	}

	.perfil{
		.avatar{
			border-radius: 20%;
		    padding: 10px;
		    background: url(../assets/imgs/bg-photo.png) top center no-repeat;
		    background-size: cover;
		    overflow: hidden;
		    text-align: center;
		    img{
				object-fit: cover;
    			max-height: 175px;
		    	border-radius:50%;
		    	border: 5px solid rgba($blue, 0.7) ;
		    	overflow: hidden;
				margin: auto auto;
		    }

		}
		.informacion{
		  	background-color: rgba(137, 216, 249, 0.66);
		  	padding: 	5px;
		  	margin-top: -50px;
		  	h2{
		  		padding-bottom: 0px;
    			padding-top: 50px;
		  	}

		  	.name, .level{
		  		border-bottom: 1px solid #037fc7;
    			background: rgba(255, 255, 255, 0.34);

		  }
		  .name{text-align: center}
		  	.level{
		  		padding: 15px 0;
		  		h1{margin-bottom: 0px;}
		  		h2{padding-top:0;}
		  		span{
		  			color: gray;
		  			margin-top: 0px;
		  		}
		  	}
		  	.data{
		  		background: rgba(255, 255, 255, 0.2);
		  		ul{
		  			list-style: none;
				    padding: 0;
				    margin: 15px;
				    li{
				    	background: rgba(255, 255, 255, 0.34);
					    margin: 10px 0;
					    padding: 10px;
					    border-radius: 5px;
					    p{
					    	@include padding-margin(0px);
					    	color: $blue;
					    }
				    }
		  		}
		  	}

		}

		.scroll-content{
			padding: 16px 0 !important ;
			margin: auto 15px;
		}
	}
}
