page-promos {
	font-family: font129281;
	.text-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: white;
	}
	.text-input::-moz-placeholder { /* Firefox 19+ */
	  color: white;
	}
	.text-input:-ms-input-placeholder { /* IE 10+ */
	  color: white;
	}
	.text-input:-moz-placeholder { /* Firefox 18- */
	  color: white;
	}

	.contenido{
		.scroll-content{
			padding: 16px 0 !important ;
			background-color: rgba(244, 244, 244, 0.8);
			margin: auto 15px;
			.card-content{
				padding: 0;
				.like{
	    		color: #0269a8;
	    		padding-left: 0;
	    		.icon{
	    			background: #c8e3f0;
				    padding: 4px 6px;
				    border-radius: 50%;
				    font-size: 18px;
				    line-height: 18px;
				    margin: 0;
	    		}
	    	}
			}
			.imagen{
				position: relative;
				width: 100%;
				padding:0;

				.description{
					padding: 0;
				    background: rgba(0, 0, 0, 0.3);
				    color: white;
				    position: absolute;
				    width: 100%;
				    font-size: 12px;
				    top: 0;
				}
			}
			.sinopsis{
				margin: 0 5px 0 0;
		    
			}


		}
		.card-title{
			margin-top: 0;
    	padding-top: 0;
    	
		}	

		h2{
			font-size:25px ;
			font-weight: 800;
			padding-top: 0;
    		margin-top: 0;

		}
		p{
			font-size: 15px;
		&:first-letter{
			text-transform: capitalize;

		}
		}
		p, h2{ 
			color: #0269a8;
		}
	}
	.toolbar-background-md{
		background: none;
	}

	.title{
		text-align: center;
		.logo{ 
			max-width: 20%;
    		margin: 0 auto;
		}
	}
}
