page-usuariosubpreferencia {
	
	@extend %placeholder-text;

	.contenido{
		.scroll-content{
			padding: 16px 0 !important ;
		}

		h2{padding: 15px 0;}
	}

	.header{
		
		.toolbar-title, .toolbar-title-md{
			background: url(../assets/imgs/foco.png) center left no-repeat;	
			background-size: 15%;		
		}

		h1{
			color:white;
			padding-left: 40px;
		}
		.toolbar-background-md{
			background: none;
		}
	}

	.item{
	    color: $blue;
	    border-bottom: 2px solid $blue;
	}
	.item-divider{
		background-color: rgba(244, 244, 244, 0.8);
	    font-size: 30px;
	    padding: 10px 0 10px 40px;

	}
	.item-block{
		color: $blue;
		background-color: rgba(244, 244, 244, 0.4);
		font-size: 27px;
		.checkbox-icon, .checkbox-checked{
			border: 0;
			border-radius: 50%;
			width: 25px;
			height: 25px;
		}
		.checkbox-icon {
			background: $blue-light;			
		}
		.checkbox-checked{
			background: $blue;
			border: 5px solid $blue-light;
			.checkbox-inner{
				border-color: transparent;
				
			}
		}
	}

	.lista{
		.item-md{
			background: rgba(255,255,255,0.7);
		}
		.item{

			.label{
				color: $blue;
			}
		}
		.select-icon-inner{
			color: $blue;
		}

	}

	.button-bar{ 
		margin-top: 25px;

		.btn-back{
			color: white;
			width: 32%;

		}
		.btn-next{
			width: 65%;
			display: inline-block;
			float: right;
		}
	}

	.item.item-md .checkbox-md {
		margin: 9px 15px 9px 4px;
	}

}