<ion-header class="header" style="background: url(assets/imgs/MzC4faYeQr2AnaRD3qbY_fondo.jpg) no-repeat center;background-size:cover;" >
  <ion-navbar>
    <ion-title>
      <img class="logo" src="../../assets/imgs/logo.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="false" style="background: url(assets/imgs/MzC4faYeQr2AnaRD3qbY_fondo.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" class="contenido">

   <div *ngIf="ifReintentar" padding>
         <ion-fab center middle>
            <button ion-fab color="color_indigo_500" (click)="getRecargar();"><ion-icon name="refresh"></ion-icon></button>
         </ion-fab>
  </div>
  <div>
    <ion-card *ngFor="let np of _lista_noticias_promocion">
      <!--<img src="img/nin-live.png"/>-->
      <ion-card-content>
        <ion-grid class="imagen">
          <img src="../../assets/imgs/publ1.jpg">
          <ion-row class="description ">
            <ion-col class="date">
              <ion-icon ios="ios-time" md="md-time"></ion-icon> 
              Compartido hace 2 Horas
              
            </ion-col>
            <ion-col col-4 class="likes">
              <ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
              {{np.not_like}} Me gusta
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="sinopsis">
          <ion-row > 
            <ion-col (click)="goToVerMas(np);">
              <ion-card-title>
                <h2>{{np.not_titulo}}</h2>
              </ion-card-title>
              <p>
               {{np.not_descripcion}}
              </p>
            </ion-col>
            <ion-col col-1 class="like">
                  <ion-icon ios="ios-heart-outline" md="md-heart-outline" color="{{np.bandera_like}}" (click)="addFavorito(np);"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
       <!-- <div *ngIf="np.despliegue == 'true'">
          <p>
               {{np.not_sinopsis}}
          </p>
            <button *ngIf="np.not_qr != null" ion-button full color="danger" (click)="setScanear(np);" >!Scanear el código Smart!</button>
            <button *ngIf="np.not_qr != null" ion-button full color="danger" (click)="openMenu();">Compartir</button>
            <button *ngIf="np.not_qr != null" ion-button full color="danger" (click)="setDespliegue(np);">atras</button>
        </div>-->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!--
{"not_id":"2","not_titulo":"Viaje a Galapagos ","not_descripcion":"si acumulas 2000 puntos participas en un viaje a Galapagos por un fin de semana todo pagado ","not_sinopsis":"Mientras más codigos guardes mas puntos tendrás","not_estado":"1","not_is_noticia":"1","not_qr":"dfsrefsdfdfd","not_img":null,"not_like":"0","establecimiento_est_id":"2","subpreferencias_sub_id":"3","not_creado_en":"2017-04-06 20:32:26","not_actualizado_en":"2017-04-06 21:27:52","not_adicional_1":null,"not_adicional_2":null,"est_descricion":"Sede Centro Sur","insignia_ins_id":"2"}
-->