// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$blue: #036aa9;
$blue-light: #d0eaf8;

@font-face{
	font-family: "DIN";
	src: url(../assets/fonts/DINNextSlabPro-Light.ttf);
}


html, body, h1, h2, h3, h4, h5, h6, p, div, span{
	font-family: "DIN";
	color: $blue;
}

h1{
		//font-size: 30px;
		font-weight: 400;
		//line-height: 30px;
	}
h2{
	font-weight: 600; ;
}
.my-input{
	background: rgba(255,255,255,0.2);
	border-radius: 5px;
	padding: 2px;
	font-size: 18px;
	color: white;
	input{
		color: white;
	}
}

.btn{
		padding: 10px;
		border-radius: 5px;
		margin-bottom: 20px;
		font-size: 18px;
	}
	.btn-login{
		//font-size: 25px;
		width: 100%;
		background: rgba(255,255,255,0.9);
		color: $blue;
	}
	.btn-group{
		width: 48%; 
		display: inline-block;
		padding: 5px 10px;
		float: left;	
		color: white;	
		background: url('../assets/imgs/bg-btn.png') repeat-x bottom center;
		background-size: 15%;
	}
	.btn-omega{
		float: right;
	}
.button-bar{
	width: 90%;
	margin: 10px auto 0 auto;
}
.item-ios.item-block .item-inner{border-bottom: 0;}
.text-input-md{margin: 5px;}
.toolbar-background-ios{background: none;}
.list-ios > .item-block:last-child{border-bottom: 2px solid #017dc7}
ion-label{font-size: 1.7rem;}
.list-md .item-block .item-inner{
	border-bottom: none;
}
.has-refresher > .scroll-content{
	border-top: none;
}

.header{
	background: url(../assets/imgs/MzC4faYeQr2AnaRD3qbY_fondo.jpg) no-repeat center;background-size:cover;
	.title{
		padding-left: 5px;
	}
}

.icon-md-light{
	color: $blue;
}



