// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
html, body{font-family: font129281;}

h1{
		//font-size: 30px;
		font-weight: 400;
		//line-height: 30px;
	}
h2{
	//font-size:25px ;
}
.my-input{
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	padding: 2px;
	font-size: 18px;
	color: white;
}

.btn{
		padding: 10px;
		border-radius: 5px;
		margin-bottom: 20px;
		font-size: 18px;
	}
	.btn-login{
		font-size: 25px;
		width: 100%;
		background: white;
		color: $blue;
	}
	.btn-group{
		width: 48%; 
		display: inline-block;
		padding: 5px 10px;
		float: left;	
		color: white;	
		background: url('../assets/imgs/bg-btn.png') repeat-x bottom center;
		background-size: 15%;
	}
	.btn-omega{
		float: right;
	}

.item-ios.item-block .item-inner{border-bottom: 0;}
.text-input-md{margin: 5px;}