<!--
  Generated template for the Logros page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header" >

  <ion-navbar>
    <ion-title>
    	<h1 class="profile">Logros</h1>
    </ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding="false" style="background: url(assets/imgs/MzC4faYeQr2AnaRD3qbY_fondo.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" class="contenido">
	  <div *ngIf="ifReintentar" padding>
         <ion-fab center middle>
            <button ion-fab color="color_indigo_500" (click)="getRecargar();"><ion-icon name="refresh"></ion-icon></button>
         </ion-fab>
   </div>
	

		<ion-grid>
	  <ion-row *ngFor="let logro of _lista_logros">
	    <ion-col col-4 *ngFor="let fila of logro.valores">
				<div class="fondo">
					<img  [src]="fila.img" *ngIf="fila.bandera == 'true'">
					<img src="assets/imgs/block.png" alt="" *ngIf="fila.bandera == 'false'">
				</div>
				<h4>{{fila.ins_descripcion}}</h4>
	    </ion-col>
	  
	  </ion-row>

	</ion-grid>
		<!--	
		
		<ion-grid>
	  <ion-row>
	    <ion-col col-4>
	    <div class="fondo">
	    	<img src="assets/imgs/logo.png" alt="">
	    </div>
	    <h4>Pacifico</h4>
	    </ion-col>
	    <ion-col col-4>
	    <div class="fondo">
	    	<img src="assets/imgs/pig.png" alt="">
	    </div>
	    <h4>Ahorrador</h4>
	    </ion-col>
	    <ion-col col-4>
	    <div class="fondo">
	    	<img src="assets/imgs/block.png" alt="">
	    </div>
	    <h4>Bloqueado</h4>
	    </ion-col>
	  </ion-row>
	  
	  <ion-row>
	    <ion-col col-4>
	    <div class="fondo">
	    	<img src="assets/imgs/pizza.png" alt="">
	    </div>
	    <h4>Pizzadicto</h4>
	    </ion-col>
	    <ion-col col-4>
	    <div class="fondo">
	    	<img src="assets/imgs/burger.png" alt="">
	    </div>
	    <h4>Bloqueado</h4>
	    </ion-col>
	    <ion-col col-4>
	    <div class="fondo">
	    	<img src="assets/imgs/block.png" alt="">
	    </div>
	    <h4>Bloqueado</h4>
	    </ion-col>
	  </ion-row>
	  
	  <ion-row>
	    <ion-col col-4>
	    <div class="fondo">
	    	<img src="assets/imgs/block.png" alt="">
	    </div>
	    <h4>Bloqueado</h4>
	    </ion-col>
	    <ion-col col-4>
	    <div class="fondo">
	    	<img src="assets/imgs/block.png" alt="">
	    </div>
	    <h4>Bloqueado</h4>
	    </ion-col>
	    <ion-col col-4>
	    <div class="fondo">
	    	<img src="assets/imgs/block.png" alt="">
	    </div>
	    <h4>Bloqueado</h4>
	    </ion-col>
	  </ion-row>
	  
	</ion-grid>-->



</ion-content>
